<<<<<<< HEAD
<h5 class="center">Cadastrar Usuario</h5>
=======
<h5 class="center">Editar Usuário</h5>
>>>>>>> 91a5cebcf145cdfc78b76ff73a0103afc0698d36
<div class="row">
    <form id="form_editar" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input type="hidden" class="campos" value="<%=data.id%>" name='id' id="nome" type="text"
                    class="validate">
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input class="campos" value="<%=data.nome%>" name='nome' id="nome" type="text" class="validate">
                <label for="icon_prefix">Nome</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input class="campos" value="<%=data.telefone%>" name='telefone' id="telefone" type="tel"
                    class="validate">
                <label for="icon_telephone">Telefone</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input class="campos" value="<%=data.email%>" name='email' id="email" type="email"
                    class="validate">
                <label for="icon_telephone">Email</label>
            </div>
            
        </div>
    </form>
    <button id="editar_usuario" class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
    </button>
</div>
<script>
    $(document).ready(function () {
        $('.campos').focus();
    });

    $('#editar_usuario').click(function () {
        $('#form_editar').ajaxForm({
            url: '/editar_usuario',
            type: 'put',
            success: function (data) {
                $('#resultado').html(data)
                // document.getElementById('resultado').innerHTML = data
                console.log('Dados editados: ', data)
                $.ajax({
                    url: '/listar_usuario',
                    method: 'get',
                    success: function (data) {
                        $('#conteudo').html(data)
                    }
                })
            }
        }).submit();
    })
</script>